*,
*:before,
*:after {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1c1b1b;
  background: #fff;
  line-height: 1.65;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.PageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  background: #363636;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.FlexboxIeFix {
  display: flex;
  flex-direction: row;
}

.Password {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.Password__Header {
  position: relative;
  text-align: center;
}

.Password__Logo {
  display: block;
  line-height: 1;
  text-decoration: none;
}

.Password__LogoImage {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: top;
}

@media screen and (min-width: 641px) {
  .Password__Content {
    margin: 80px auto;
  }
  .Password__Card {
    padding: 45px 60px 50px 60px;
  }
  .u-h2,
  .Rte h2 {
    font-size: 18px;
  }
}

.Password__Content {
  width: 470px;
  max-width: 100%;
  margin: 35px auto;
  z-index: 1;
}

.Password__Card {
  padding: 24px;
  background: #fff;
  text-align: center;
}

.Password__Newsletter {
  margin-bottom: 10px;
}

.Heading {
  font-size: 18px;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #1c1b1b;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.background {
  background-color: #fceb91;
  /* background-image: url(//cdn.shopify.com/s/files/1/0258/9723/8605/files/photo-1551489186-ccb95a1ea6a3_1_1500x.progressive.jpg?v=1582018564); */
  padding: 0;
}

.header {
  z-index: 1;
}

.header__background {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.header__title {
  margin: 0;
  padding: 50px;
  font-size: 70px;
  color: #13274b;
}

.landing-page__img {
  position: absolute;
}

.landing-page__img-1 {
  bottom: 0;
  right: 0;
  width: 550px;
}

.landing-page__img-2 {
  width: 460px;
  bottom: 36px;
  left: 430px;
}

.landing-page__img-3 {
  right: 450px;
  width: 450px;
  top: 65px;
}

.landing-page__img-4 {
  left: 15px;
  top: 28px;
  width: 550px;
}
